/ProjetJEE-ear/target/

/.idea/
/ProjetJEE-ejb/target/
/ProjetJEEShared/target/
/ProjetJEE-web/target/
/tp3-4_ACU/target/
/ExempleImen/target/
/TP5_ACU/target/
/ExempleMino/target/

# glassfish and so on
/ProjetJEE/ProjetJEE-ear/src/main/application/META-INF/
/ProjetJEE/ProjetJEE-ejb/src/main/resources/META-INF/

tomcat

#
# Default excludes
#

# Binaries
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.war
*.ear
*.sar
*.class

# Maven 
target/

# IntelliJ project files 
*.iml
*.iws
*.ipr
.idea/

# eclipse project file
.settings/
.classpath
.project

# NetBeans specific
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml


# OS
.DS_Store

# Misc
*.swp
release.properties
pom.xml.releaseBackup
pom.xml.tag